{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/create-blog1.css' %}">
    <style>
        body{
            margin-top: 100px;
        }
        a:hover{
            background-color: #FFF;
            color: #03465a;
        }
    </style>
    
</head>

<body>

<nav>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'travell-buddy-page' %}">About</a>
    <a href="{% url 'travell-buddy-page' %}">Contact</a>
    <a href="{% url 'travell-buddy-page' %}">Help</a>
    <a href="{% url 'travell-buddy-page' %}">Connect</a>
</nav>

</body>
</html>
